@model Garage.Models.Vehicle

@{
    ViewBag.Title = "Check-Out Vehicle";
}

<h2>Check Out</h2>

<h3>Search by registration number to check-out</h3>
@if (ViewBag.Wrong != null)
{
    <p>
        @ViewBag.Wrong
    </p>
}
<div>
@using (Html.BeginForm("CheckOutSearch", "Vehicles"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Vehicle</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Registration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Registration, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <input type="submit" value="Check Out Vehicle" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
