@model PagedList.IPagedList<Garage.Models.Vehicle>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Park Vehicle", "Park")<br />
    @Html.ActionLink("See history", "Historic")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by search: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}


@if (ViewBag.Message != null)
{
    <p>
        @ViewBag.Message
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Registration", "Index", new { sortOrder = ViewBag.RegistrationParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.VehicleTypeParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Vehicle Brand", "Index", new { sortOrder = ViewBag.VehicleBrandParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.ColorParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Parked Since", "Index", new { sortOrder = ViewBag.ParkingTimeParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Checkout Time
        </th>
        <th>
            Total Price
        </th>
        <th>
            Price Per Hour
        </th>
        <th>
            Is Parked?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckoutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsParked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check Out", "CheckOut", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))