@{
    ViewBag.Title = "Garage 2.5";
}

<div class="jumbotron">
    <h1>Garage 2.5</h1>
    <p class="lead">The app for managing enterprise garages by Team Alpha!</p>
    <p><a href="@Url.Content("~/Vehicles2/Create")" class="btn btn-primary btn-lg">Park a Vehicle &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Park Vehicle</h2>
        <p>
            To park a vehicle just enter the information into a simple form.
        </p>
        <p><a class="btn btn-success btn-lg hidden-md hidden-lg" href="@Url.Content("~/Vehicles2/Create")">Park Vehicle &raquo;</a></p>

    </div>
    <div class="col-md-4 hidden">
        <h2>Check Out Vehicle</h2>
        <p>Easy Check-Out </p>
        <p><a class="btn btn-primary btn-lg hidden-md hidden-lg hidden" href="@Url.Content("~/ParkedVehicles")">Check Out a Vehicle &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View Vehicles</h2>
        <p>Get an overview of the parked vehicles in your garage.</p>
        <p><a class="btn btn-info btn-lg hidden-md hidden-lg" href="@Url.Content("~/ParkedVehicles/")">View Parked Vehicles &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><a class="btn btn-success btn-lg hidden-sm hidden-xs" href="@Url.Content("~/Vehicles2/Create")">Park Vehicle &raquo;</a></p>
    </div>
    <div class="col-md-4 hidden">
        <p><a class="btn btn-primary btn-lg hidden-sm hidden-xs hidden" href="@Url.Content("~/ParkedVehicles")">Check Out a Vehicle &raquo;</a></p>

    </div>
    <div class="col-md-6">
        <p><a class="btn btn-info btn-lg hidden-sm hidden-xs" href="@Url.Content("~/ParkedVehicles/")">View Parked Vehicles &raquo;</a></p>

    </div>
</div>